#content-deck
	script#content-stream-template(type="text/template")
		<div id ="content-stream-table">
		</div>
	script#embeded-content-template(type="text/template")
		<div class="row-fluid">
		<div class="span9" id="content">
		</div>
		<div class="span3" id="cotent-activity">
		<table class="table table-condensed">
		<tr><td> Hello, World</tr>
		</table>
		</div>
		</div>

