#publisher
	script#publisher-container-template(type="text/template")
		<div class="row-fluid">
		<ul class="nav nav-tabs" id="publisher-tab">
		</ul>
		<div class="tab-content" id="publisher-content">
		</div>
		</div>

script#post-publisher-template(type="text/template")
	<textarea class="span12" id="publisher-text" placeholder="Write something..." rows="1"></textarea>
	<input class="btn btn-success pull-right" id="post-button" name="commit" type="submit" value="Post" />		</div>

script#wikipage-publisher-template(type="text/template")
	<textarea class="span12" id="wikipage-text" placeholder="Write a seed..." rows="1"></textarea>
	<input  class="span12" id="wikipage-title" type="text" placeholder="Give it a nice title..." />
	<input class="btn btn-success pull-right" id="wikipage-button" name="commit" type="submit" value="Post" />

script#question-publisher-template(type="text/template")
	<input  class="span12" id="question-title" type="text"  />
	<textarea class="span12" id="question-text" rows="1"></textarea>
	<input class="btn btn-success pull-right" id="question-button" name="commit" type="submit" value="Ask" />

script#link-publisher-template(type="text/template")
	<input  class="span12" id="link-url" type="text" placeholder="Link url" />
	<input  class="span12" id="link-title" type="text" placeholder="Link title" />
	<textarea class="span12" id="link-text" rows="1"  placeholder="Describe this link"></textarea>
	<input  class="span12" id="link-image" type="text"  placeholder="Image URL"/>
	<input class="btn btn-success pull-right" id="link-button" name="commit" type="submit" value="Add" />

