#publisher
	script#publisher-container-template(type="text/template")
		<div class="row-fluid">
		<ul class="nav nav-tabs" id="publisher-tab">
		</ul>
		<div class="tab-content" id="publisher-content">
		</div>
		</div>

script#post-publisher-template(type="text/template")
	<textarea class="span12" id="publisher-text" placeholder="Write something..." rows="1"></textarea>
	<input class="btn btn-success pull-right" id="post-button" name="commit" type="submit" value="Post" />		</div>

script#wikipage-publisher-template(type="text/template")
	<textarea class="span12" id="wikipage-text" placeholder="Write a seed..." rows="1"></textarea>
	<input  class="span12" id="wikipage-title" type="text" placeholder="Give it a nice title..." />
	<input class="btn btn-success pull-right" id="wikipage-button" name="commit" type="submit" value="Post" />

