#social-stream
	script#post-template(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<div class="span2">
		<p><a href="/profiles/1"><img width="50" src="http://gravatar.com/avatar/a2ef1d09ea1c872b8174b618b6eabcd1.png"></a></p>
		</div>
		<div class="span10">
		<p><a data-remote="true" class="remote-wikipage-link" href="/posts/206"><%= name %></a> posted</p>
		<p><%= text %></p>
		</div>
		</div>
		</div>
	script#social-stream-template(type="text/template")
		<div id ="social-stream-table">
		<% for (var i = 0; i < posts.length; i++) { %>
		<% var post = posts[i]; var tmplMarkup = $('#post-template').html();	%>
		<% var compiled = _.template(tmplMarkup); %>
		<% print(compiled(post)); %>
		<% } %>
		</div>

