#social-stream
	script#post-template(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<div class="span2">
		<p><a href="/profiles/1"><img width="50" src="http://gravatar.com/avatar/a2ef1d09ea1c872b8174b618b6eabcd1.png"></a></p>
		</div>
		<div class="span10">
		<p><a data-remote="true" class="remote-wikipage-link" href="/posts/206"><%= name %></a></p>
		<p><%= text %></p>
		</div>
		</div>
		<div class="row-fluid">
		<div class="comments-thread"></div>
		</div>
		</div>

	script#comment-template(type="text/template")
		<div class="row-fluid">
		<div class="span2">
		<p><a href="/profiles/1"><img width="50" src="http://gravatar.com/avatar/a2ef1d09ea1c872b8174b618b6eabcd1.png"></a></p>
		</div>
		<div class="span10">
		<a href="/posts/206"><%= name %></a><br />
		<p><%= text %></p>
		</div>
		</div>

	script#comments-thread-template(type="text/template")
		<div class="row-fluid comments-list">
		</div>
		<div class="row-fluid">
		<textarea class="span12 comments-text" rows=1 style="line-height:80%;"></textarea>
		</div>

	script#social-stream-template(type="text/template")
		<div id ="social-stream-table">
		</div>

	script#question-template(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<div class="span12">
		<h3><%= title %> </h3>
		</div>
		</div>
		<div class="row-fluid">
		<div class="span12"><%= body %> </div>
		</div>
		<hr />
		<div class="answers-thread"></div>
		</div>


	script#answer-template(type="text/template")
		<div class="row-fluid">


		<div class="span12 ">

		<div class="row-fluid">
		<div style ="float: left;  margin-right: 10px;">
		<a href="#"><i class="icon-chevron-up"/></a>
		<a href="#"><i class="icon-chevron-down"/></a>
		<div style="text-align:center;"><h2><%= votes %></h2></div>
		</div>

		<p><%= text %></p>
		</div>
		<div class="row-fluid">
		<div class="pull-right ">
		<p>
		<a href="#" rel="tooltip" title="<%= name %>" id="tooltip">
		<img width="20" src="http://gravatar.com/avatar/a2ef1d09ea1c872b8174b618b6eabcd1.png"> Amajd (2 hourse ago)
		</a>
		</div>
		</div>

		</div>
		</div>

	script#answers-thread-template(type="text/template")
		<div class="row-fluid answers-list">
		</div>
		<div class="row-fluid">
		<textarea class="span12 answers-text" rows=1 style="line-height:80%;"></textarea>
		</div>

	script#wikipage-template(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<div class="span8">
		<h3><%= title %> </h3>
		</div>
		<div class="span4" id="buttons"></div>
		</div>

		<div class="row-fluid"><div class="span12" id="wikipage-history">
		<table class="table table-striped">
		<tr><td><a href="#" rel="tooltip" title="Amjad" id="tooltip"><img width="20" src="http://gravatar.com/avatar/a2ef1d09ea1c872b8174b618b6eabcd1.png"></a> New line at that end
		</tr>
		<tr><td><a href="#" rel="tooltip" title="Amjad" id="tooltip"><img width="20" src="http://gravatar.com/avatar/a2ef1d09ea1c872b8174b618b6eabcd1.png"></a> New line at that end
		</tr>
		</table>
		</div>
		</div>

		<div class="row-fluid"><div class="span12" id="wikipage-contributors">
		<div class="pull-right ">
		<p>19 contributors<a href="#" rel="tooltip" title="Amjad" id="tooltip">
		<img width="20" src="http://gravatar.com/avatar/a2ef1d09ea1c872b8174b618b6eabcd1.png">
		</a></p>
		</div>
		</div>
		</div>


		<div class="row-fluid" id="wikipage-body-area"></div>
		</div>

		</div>

	script#wikipage-edit-buttons-template(type="text/template")
		<div class="pull-right">
		<a href="#"> <span id="edit-button" class="label label-info" >Edit</span></a>
		<a href="#"> <span id="history-button" class="label label-warning">History</span></a>
		</div>


	script#wikipage-save-buttons(type="text/template")
		<div class="pull-right">
		<a href="#"> <span id="save-button" class="label label-success" >Save</span></a>
		<a href="#"> <span id="cancel-button" class="label label-important">Cancel</span></a>
		</div>

	script#wikipage-body-view(type="text/template")
		<% if((typeof fullview)=="undefined") {var fullview = false;} %>
		<% if(body.length < 500 || fullview) {%>
		<p><%= nl2br(body, false) %></p>
		<% } else { %>
		<p><%= nl2br(body.substring(0, 500), false) %>... <a href="#" id="read-more">read more</a></p>
		<% }%>

	script#wikipage-body-edit(type="text/template")
		<input  class="span12" id="wikipage-title" type="text" placeholder="Give a description of your edit (optional)" />
		<textarea id="wikipage-body" class="span12" rows= 6><%= body %></textarea>


	script#link-template-thumbnail(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<div class="span2">
		<p><a href="/profiles/1"><img width="50" src="http://gravatar.com/avatar/a2ef1d09ea1c872b8174b618b6eabcd1.png"></a></p>
		</div>
		<div class="span10">
		<p><a data-remote="true" class="remote-wikipage-link" href="/posts/206"><%= name %></a> posted</p>
		<p><%= curation %></p>
		<div class="row-fluid">
		<div class="span3">
		<p><a href="#"><img src="<%= preview %>"></a></p>
		</div>
		<div class="span9">
		<a href="<%= url %>"><%= title %></a><br />
		</div>
		</div>
		</div>
		</div>
		<hr />

		</div>

	script#link-template-curated(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<div class="span12"><h3><a href="<%= url %>"><%= title %></a></h3></div>
		</div>
		<div class="row-fluid">
		<p><img class="span12" src="<%= preview %>" style="margin-bottom:5px;"></p>
		</div>
		<div class="row-fluid">
		<div class="span12">
		<p><%= curation %></p>
		</div>
		<div class="row-fluid">
		<div class="span12 ">
		<div class="pull-right ">
		<p><a href="/profiles/1"><img width="20" src="http://gravatar.com/avatar/a2ef1d09ea1c872b8174b618b6eabcd1.png"></a> shared by Guest</p>
		</div>
		</div>
		</div>
		</div>

