#social-stream
	script#post-template(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<div class="span2">
		<p><a href="/profiles/1"><img width="50" src="http://gravatar.com/avatar/a2ef1d09ea1c872b8174b618b6eabcd1.png"></a></p>
		</div>
		<div class="span10">
		<p><a data-remote="true" class="remote-wikipage-link" href="/posts/206"><%= name %></a> posted</p>
		<p><%= text %></p>
		</div>
		</div>
		</div>
	script#social-stream-template(type="text/template")
		<div id ="social-stream-table">
		<% for (var i = 0; i < posts.length; i++) { %>
		<% var post = posts[i]; var tmplMarkup = $('#post-template').html();	%>
		<% var compiled = _.template(tmplMarkup); %>
		<% print(compiled(post)); %>
		<% } %>
		</div>
	script#wikipage-template(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<div class="span9">
		<h2><%= title %> </h2>
		</div>
		<div class="span3">
		<a href="#"><span id="edit-button" class="label label-info pull-right">Edit</span></a>
		</div>
		</div>
		<div class="row-fluid">
		<p><%= body %></p>
		</div>
		</div>
	script#wikipage-edit-template(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<div class="span9">
		<h2><%= title %> </h2>
		</div>
		<div class="span3">
		<a href="#"> <div class="pull-right"><span id="save-button" class="label label-success" >Save</span></a>
		<a href="#"> <span id="cancel-button" class="label label-important">Cancel</span></a>
		</div>
		</div>
		<div class="row-fluid">
		<textarea id="wikipage-body" class="span12" rows= 6><%= body %></textarea>
		</div>
		</div>
		</div>

	script#link-template-thumbnail(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<p><%= curation %></p>
		</div>
		<div class="row-fluid">
		<div class="span3">
		<p><a href="#"><img src="<%= preview %>"></a></p>
		</div>
		<div class="span9">
		<a href="<%= url %>"><%= title %></a><br />
		</div>
		</div>
		</div>

	script#link-template-curated(type="text/template")
		<div class="well">
		<div class="row-fluid">
		<h2><a href="<%= url %>"><%= title %></a></h2>
		<p><img class="span12" src="<%= preview %>" style="margin-bottom:5px;"></p>
		</div>
		<div class="row-fluid">
		<div class="span12">
		<p><%= curation %></p>
		</div>
		</div>

