script#activity-template(type="text/template")
	.row-fluid
		.span12
			.avatar
				a(href="#")
					<img class="avatar-img" src="<%= $.gravatar(actor.email, { size: 50 }) %>" />
			.mainWrapper
				p
					<%= message %> 
					small (<%= moment(created_at).fromNow() %>)
				.row-fluid
					span12 
						<% if (object_type == 'WikiPage' && verb == 'edit') {%>
						.diff
							p.diff-content <%= generate_diff(diff).html() %>
							p
								a.toggle-diff(href="#toggle-diff") Show difference
						<% }%>						
				.row-fluid
					.embeded-content
	.row-fluid
		.span12
			hr

script#post-template(type="text/template")
	.row-fluid
		.span12
			.avatar
				a(href="#")
					<img class="avatar-img" src="<%= $.gravatar(user.email, { size: 50 }) %>" />
				
					
			.mainWrapper
				p
					a(href="/posts/206")     			
						<%= user.email %>
				p
					<%= nl2br(text, false) %>
				p
					small
						a(href='#') Like 
						· <%= moment(created_at).fromNow() %>
				.row-fluid
					.comments-thread
	.row-fluid.separator
		.span12
			hr
			
script#comment-template(type="text/template")
	.row-fluid
		.avatar
			a(href="#")				
				<img class="avatar-img" src="<%= $.gravatar(user.email, { size: 50 }) %>" />
		.mainWrapper.comments
			p
				a(href="#") <%= user.email %> 
				<%= text %>
				br
				small
					<%= moment(created_at).fromNow() %>
						
script#comments-thread-template(type="text/template")
	.row-fluid
		.comments-list
		textarea.span12.comments-text(rows=1)
	
script#activity-stream-template(type="text/template")
	#activity-stream-table
	.row-fluid
		center
			.btn.btn-primary.btn-large#load-more Load more!
	.row-fluid
		hr

script#wikipage-template(type="text/template")
	.row-fluid
		.span12
			.well
				.row-fluid
					.span8
						h3 <%= title %>
					.span4
						.buttons
				.row-fluid
					.span12
						hr
				.row-fluid
					.span12
						.wikipage-body-area
	.row-fluid.separator
		.span12
			hr
             
script#wikipage-edit-buttons-template(type="text/template")
	.pull-right		
		.edit-button.btn.btn-info Edit
	
script#wikipage-save-buttons(type="text/template")
	.pull-right
		.save-button.btn.btn-success Save
		.cancel-button.btn.btn-danger Cancel
			
script#wikipage-body-view(type="text/template")
	p <%= nl2br(body, false) %>
	
script#wikipage-body-edit(type="text/template")
	input.span12.wikipage-title(type="text", placeholder="Give a description of your edit (optional)")
	textarea.wikipage-body.span12(rows=6) <%= body %>

