.row
	.span3
		#main-sidebar-region
		#material-sidebar-region
		
	.span9
		.row-fluid
			form.form-horizontal(action="/#{server.currentContainer.containerType}s/#{server.currentContainer._id}/wikipages", method="post")
				h3 Title
				p
					input(type='text', name='title', class='span12')
				p
					textarea(type='text', name='content', class='span12', rows=20)
				p Summary
				input(type='text', name='summary', class='span12')
				br
				input.btn.btn-primary.pull-right(type="submit") Save
