extends layout

block content	
	!= "<script type='text/javascript'>"
	!= "var posts =" + JSON.stringify(posts) + ";"
	!= "var user =" +JSON.stringify(user)  + ";"
	!= "</script>"
	
	include shared/templates

	.row
		.span3
			.well.sidebar-nav
				ul.nav.nav-list
					li.nav-header Basic
					li.active
						a(href="#") Home
					li
						a(href="#") Close friends			
			.well.sidebar-nav
				ul.nav.nav-list
					li.nav-header Groups
					li
						a(href="#") Group 1
					li
						a(href="#") Group 2									
		.span7
			include shared/publisher
			hr
			#social-stream
			
		.span3


					

