extends layout

block content	
	!= "<script type='text/javascript'>"
	!= "var activities =" + JSON.stringify(activities) + ";"
	!= "var current_user =" +JSON.stringify(current_user)  + ";"	
	!= "</script>"

	.row
		.span3
			include shared/sidebar
								
		.span7
			include shared/publisher
			hr
			#social-stream

block jsbootstrap
		script(src='/js/main.js')

					

