extends layout

block content	
	!= "<script type='text/javascript'>"
	!= "var activities =" + JSON.stringify(activities) + ";"
	!= "var current_user =" +JSON.stringify(current_user)  + ";"	
	!= "</script>"

	.row
		.span3
			.well.sidebar-nav
				ul.nav.nav-list
					li.nav-header Basic
					li.active
						a(href="#") Home
					li
						a(href="#") Close friends			
			.well.sidebar-nav
				ul.nav.nav-list
					li.nav-header Groups			
					- for(var i = 0; i < groups.length; i++) {
					li
						a(href="#") 
							= groups[i].name				
					-}									
		.span7
			include shared/publisher
			hr
			#social-stream

block jsbootstrap
		script(src='/js/main.js')

					

