!!!
html
	head
		title MicroCommunity
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')		
		link(href='/css/app.css', rel='stylesheet')

	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a(href='#').brand MicroCommunity
					- if (!user)
						<ul class="nav pull-right">
						<li>
						<a href="/login">Log in</a>
						</li>
						<li><a href="/signup">Sign up</a></li>
						</ul>						
					- else
						div.btn-group.pull-right
							a.btn.dropdown-toggle(href="#", data-toggle="dropdown")
								i.icon-user
								= user.email
								span.caret
							ul.dropdown-menu
								li
									a(href="#") 
										= "Account"
								li.divider
								li
									a(href="/logout") Log out						

					ul.nav
						li.active
							a(href='/') Home
						li
							a(href='#') Wiki
						li
							a(href='#') Contact
			

		div.container
			.row
				.span12
					block content

			footer
				hr
				p MicroCommunity 2012

		include shared/templates

		script(src='/js/lib/require/require.min.js')
		script(src='/js/config.js')		
		block jsbootstrap


