!!!
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		!= css('lib/bootstrap')
		!= css('app')
		!= css('lib/bootstrap-responsive')


	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a(href='#').brand #{title}
					ul.nav
						li.active
							a(href='#') Home
						li
							a(href='#') Wiki
						li
							a(href='#') Contact

		div.container
			.row
				.span12
					block content

			footer
				p MicroCommunity 2012
				p = posts

		!= js('lib/jquery.min')
		!= js('lib/bootstrap.min')
		!= js('lib/underscore-min')
		!= js('lib/backbone-min')
		!= js('app')

