!!!
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css")
		!= css('app')
		link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css")

	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container-fluid
					a(href='#').brand #{title}
					ul.nav
						li.active
							a(href='#') Home
						li
							a(href='#') Wiki
						li
							a(href='#') Contact

		div.container-fluid
			.row-fluid
				.span3
					.well.sidebar-nav
						ul.nav.nav-list
							li.nav-header Sidebar
							li.active
								a Link
							li
								a Link
				.span9
					.row-fluid
					block content

			footer
				p MicroCommunity 2012
				p = posts

		script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
		script( src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js")
		script( src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js")
		script( src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js")
		- var myposts = JSON.stringify(posts, null, 2);
		script
			console.debug(JSON.parse('{"posts": #{myposts}}'));


		!= js('app')

