!!!
html
	head
		title MicroCommunity
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		!= css('lib/bootstrap.min')
		!= css('app')
		!= css('lib/bootstrap-responsive')
		link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
		link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
		link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
		link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">


	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a(href='#').brand MicroCommunity
					- if (!user)
						<ul class="nav pull-right">
						<li>
						<a href="/login">Log in</a>
						</li>
						<li><a href="/signup">Sign up</a></li>
						</ul>						
					- else
						div.btn-group.pull-right
							a.btn.dropdown-toggle(href="#", data-toggle="dropdown")
								i.icon-user
								= user.email
								span.caret
							ul.dropdown-menu
								li
									a(href="#") 
										= "Account"
								li.divider
								li
									a(href="/logout") Log out						

					ul.nav
						li.active
							a(href='#') Home
						li
							a(href='#') Wiki
						li
							a(href='#') Contact
			

		div.container
			.row
				.span12
					block content

			footer
				hr
				p MicroCommunity 2012


		script(src='js/lib/require/require.min.js', data-main='js/main')

