extend layout

block content
	.row
		.span6.offset3
			<form class="well form-inline" action="/login" method="post">
			<input type="text" class="input-small" name="username" placeholder="Username">
			<input type="password" class="input-small" name="password" placeholder="Password">
			<label class="checkbox">
			<input type="checkbox"> Remember me
			</label>
			<button type="submit" class="btn">Sign in</button>
			</form>

