extends layout

block content
	.row
		.span12	
			.row-fluid.page-header
				.span12
					h2(style='display:inline;') 
						= app.data.profile.displayName
					.pull-right.follow-button-area
						
			.row-fluid
				.span5				
					.row-fluid				
						.span12
							.floating-avatar
								p.profile-photo
								.well
									center
										h2 
											= app.data.profile.reputation	
										p Upvoted						
							p 
								i Write something about yourself
							p 
								b Location: 
								= "Damascus, Syria"								
							p 
								b Member since: 
								= "Apr 15, 2011"
									
									
					.row-fluid
						hr
	
					.row-fluid
						.span3							
							center
								h2 
									= app.data.profile.followers
								p 									
									small follower

						.span3							
							center
								h2 
									= app.data.user.follows ? app.data.user.follows.length : 0
								p 
									small following
						.span3							
							center
								h2
									= app.data.profile.wikipages_count
								p 
									small created wikipages									
						.span3							
							center
								h2
									= app.data.profile.edit_count
								p 
									small edit count						
									
					.row-fluid
						hr

											
				.span7
					
					.row-fluid
						.span12
							include shared/publisher
							hr
							#social-stream


