extends layout

block content
	!= "<script type='text/javascript'>"
	!= "var activities =" + JSON.stringify(activities) + ";"
	!= "var user =" +JSON.stringify(user)  + ";"
	!= "var current_user =" +JSON.stringify(current_user)  + ";"			
	!= "</script>"	

	.row
		.span12	
			.row-fluid.page-header
				.span12
					h2(style='display:inline;') 
						= profile.displayName
					.pull-right.follow-button-area
						
			.row-fluid
				.span5				
					.row-fluid				
						.span12
							.floating-avatar
								p
									<img src="http://www.gravatar.com/avatar/91d5ada2af741682c957f76d929969c0.jpg?s=160" />	
								.well
									center
										h2 
											= profile.reputation	
										p Upvoted						
							p 
								i Write something about yourself
							p 
								b Location: 
								= "Damascus, Syria"								
							p 
								b Member since: 
								= "Apr 15, 2011"
									
									
					.row-fluid
						hr
	
					.row-fluid
						.span3							
							center
								h2 
									= profile.followers
								p 									
									small follower

						.span3							
							center
								h2 
									= user.follows ? user.follows.length : 0
								p 
									small following
						.span3							
							center
								h2
									= profile.wikipages_count
								p 
									small created wikipages									
						.span3							
							center
								h2
									= profile.edit_count
								p 
									small edit count						
									
					.row-fluid
						hr

											
				.span7
					
					.row-fluid
						.span12
							include shared/publisher
							hr
							#social-stream

block jsbootstrap
		script(src='/js/profile.js')

