extends layout

block content	
	.row
		.span5
			.row-fluid
				.span12 					 
						.wikipage-area
						h1.page-header
							= app.data.wikipage.displayName
						p
							= app.data.wikipage.current_revision.content
																
				
		.span7					
			include shared/publisher
			hr
			#social-stream

