extends layout

block content	
	.row
		.span5
			.row-fluid
				.span12 
					.page-header 
						.wikipage-area
						h1 
							= wikipage.title
						p
							= wikipage.current_revision.body
																
				
		.span7					
			include shared/publisher
			hr
			#social-stream

block jsbootstrap
	!= "<script type='text/javascript'>"
	!= "var activities =" + JSON.stringify(activities) + ";"
	!= "var wikipage =" + JSON.stringify(wikipage) + ";"	
	!= "var current_user =" +JSON.stringify(current_user)  + ";"
	!= "</script>"



