body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.card {
  margin: 8px;
  padding: 10px;
  float: left;
}


.mainWrapper {
	display: inline;
	width: 600px;
	left: 50px;
	margin-left: 10px;
	float: left;
}


/* when content embeded */
.embeded-content .mainWrapper{
	width: 550px;
}

.embeded-content .mainWrapper .comments{
	width: 500px;
}


.embeded-content .avatar-img {
	width: 35px;
}

.embeded-content .separator {
	display: none;
}


.avatar-img {
	width: 50px;
}

.comments-list .avatar-img {
	width: 35px;
}

.mainWrapper .comments {
  width: 510px;
}

.avatar {
	float: left;
	display:inline;
}

hr {
	margin : 8px 0px 8px 0px;
}

.mainWrapper hr {
	margin : 8px 0px 8px 0px;
}

del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}
ins {
	background: #eaf2c2;
	color: #406619;
	text-decoration: none;
}


.rtl {
	direction:rtl;
}

.floating-avatar {
	float: left;
	width:100px;
	margin-right: 20px;
}

.control-menu {
	list-style-type:none;
	margin: 4px 4px 6px 0px;
	padding:0;
	display: block;
}

.control-menu p {
	display:inline;
}


.control-menu li {
	display:inline;
}

.attachment {
	padding : 0pt 0pt 0pt 15px;
	margin : 0pt 0pt 18px;
	border-left : 5px solid rgb(238, 238, 238);
}

.post-summary {
	display:inline;
}

.post-summary:hover {
	background-color:rgb(217, 237, 247);
}
.post-summary i {
	vertical-align: middle;
}

.comments-thread {
	background-color:rgb(245, 245, 245);
	padding:5px 10px 5px 10px;
	border : 1px solid rgba(0, 0, 0, 0.05);
}

.comments-thread textarea {
	margin: 0px;
}

.vote-controls-area {
	float: left;

}

.selected-up-vote-control {
	background-color:rgb(70, 136, 71);	
}

.up-votes-count {
	display: inline;
	color:rgb(70, 136, 71);	
}

.selected-down-vote-control{
	background-color:rgb(185, 74, 72);	
}	

.down-votes-count {
	display: inline;
	color:rgb(185, 74, 72);	
}

.unselected-vote-control {

}

.vote-control:hover {
	background-color:rgb(0, 136, 204);	
}

.diff-comparison {
	display: inline;
	float: left;
	background-color:rgb(245, 245, 245);
	padding:5px 10px 5px 10px;
	border : 1px solid rgba(0, 0, 0, 0.05);
	margin : 0px 0px 10px 10px ;
	clear: right;
	width: 510px;	
}


