.row-fluid	
	.span8.hero-unit
		h2 Welcome to University Community
		p Here you can find information about courses, student and teacher groups 
	.span4	
		<form class="form-signin" action="/login" method="post">
		<h2 class="form-signin-heading">Please sign in</h2>
		<input type="text" name="username" class="input-block-level" placeholder="Email address">
		<input type="password" name="password" class="input-block-level" placeholder="Password">
		<label class="checkbox">
		<input type="checkbox" value="remember-me"> Remember me
		</label>
		<button class="btn btn-large btn-success" type="submit">Sign in</button> or
		<a class="btn btn-large btn-primary" href="/signup">Sign up</a>
		</form>

