<div class="span12">
	<div class="diff">
		
		<div class="attachment">
		
		<div class ='row-fluid'>
				
		<div class="diff-content">
			<div class="vote-controls-area">
			</div>
			<div class='diff-comparison'><%= generate_diff(diff).html() %></div>	
		</div>
		
		</div>

		<ul class ='control-menu'>
			<i><%= summary %></i>	
			<%  if( summary.length > 0) { %>				
				<%= "--" %>				
			<% } %>
			<li class="post-summary-area">
			</li>			
			<li> · <a class="toggle-diff" >Show difference</a> · </li>
			
			<li>
				<p><small><%= "("+ moment(published).fromNow() +") "%></small></p>											
			</li>
		</ul>			

		
		<div class="comments-thread-area">
		</div>

		</div>	
		

		
		<hr />
		
	</div>
</div>


