<div class="row-fluid">
	<div class="span12">
		<div class="avatar">
			<a href="#">
				<img class="avatar-img" src="<%= $.gravatar(author.email, { size: 50 }) %>" />
			</a>
		</div>
		<div class="mainWrapper">
			<p><a href="/profiles/<%= author._id %>" class='email'>
				<%= author.displayName %>
			</a></p>
			<p class ='text'>
				<%= nl2br(content, false) %>
			</p>
			<p><small><%= moment(published).fromNow() %></small>
			</p>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
	<hr/>
	</div>
</div>
