<form class="form-horizontal" method='get' action='/materials' >
<legend>Browse by time</legend>
<div class="control-group">
	<label class="control-label">Academic Year</label>
	<div class="controls" id = "academic-year-select-region">
	</div>
</div>	
<div class="control-group">
	<label class="control-label">Season</label>
	<div class="controls">
		<label class="radio inline">
			<input type="radio" name="season" id="fall" value="fall" >
			Fall
		</label>
		<label class="radio inline ">
			<input type="radio" name="season" id="spring" value="spring" >
			Spring
		</label>
	</div>
</div>	
<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-primary">Browse</button>
  </div>
</div>
</form>

<form class="form-horizontal" method='get' action='/materials' >
<legend>Browse by courses and years</legend>
<div class="control-group">
	<label class="control-label">Year</label>
	<div class="controls" id = "academic-year-select-region">
	</div>
</div>

<div class="control-group">
	<label class="control-label">Course</label>
	<div class="controls" id = "academic-year-select-region">
	</div>
</div>

<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-primary">Browse</button>
  </div>
</div>
</form>

