<div class="row-fluid">
	<div class="span12">
		<div class="avatar">
			<a href="#">
				<img class="avatar-img" src="<%= $.gravatar(author.email, { size: 50 }) %>" />
			</a>
		</div>
		<div class="mainWrapper">
			<p>
				<a href="<%= author.link %>" class='email'>
				<%= author.displayName %>								
				</a>
				<% if (parentType == 'stream') { %>
					<% if (author._id != wall.owner.$id) { %>				
					 <i class="icon-play"></i>
					<a href="<%= wall.link %>">					 
						<%= wall.displayName %>
					</a>									
					<% } %>					
				<% } %>
			</p>
			<div class ='content'></div>
			<p><small><%= moment(published).fromNow() %></small>
			</p>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
	<hr/>
	</div>
</div>
