body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.card {
  margin: 8px;
  padding: 10px;
  float: left;
}


.mainWrapper {
	display: inline;
	width:500px;
	left: 50px;
	margin-left: 10px;
	float: left;
}


/* when content embeded */
.embeded-content .mainWrapper{
	width: 450px;
}

.embeded-content .mainWrapper .comments{
	width: 400px;
}


.embeded-content .avatar-img {
	width: 35px;
}


.avatar-img {
	width: 50px;
}

.comments-list .avatar-img {
	width: 35px;
}


.mainWrapper .comments {
  width: 420px;
}

.avatar {
	float: left;
	display:inline;
}

hr {
	margin : 8px 0px 8px 0px;
}

.mainWrapper hr {
	margin : 8px 0px 8px 0px;
}

