.row-fluid	
	.span3
		| sidebar					
	.span9
		.row-fluid.page-header
			h1 Create a new page!			
		.row-fluid
			form.form-horizontal(action="/new-wikipage", method="post")
					h3 Title
					input(type='text', name='title', class='span12')
					h3 Body
					textarea(type='text', name='content', class='span12', rows=20)
					br
					input.btn.btn-primary.pull-right(type="submit") Save
