extends wiki-layout

block sidebars
	#new-wikipage-sidebar-region

block content
	<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#page" data-toggle="tab">Page</a></li>
	<li><a href="#wall" data-toggle="tab">Wall</a></li>
	</ul>
	<div class="tab-content">
	<div class="tab-pane active" id="page">		
	#wikipage-region	
	</div>
	<div class="tab-pane" id="wall">
	.row-fluid
		#publisher-region
		hr
		#wall-region		
	</div>
	</div>

