.row
	.span3
		#main-sidebar-region
	.span9
		<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
		<li><a href="#profile" data-toggle="tab">Wall</a></li>
		</ul>
		<div class="tab-content">
		<div class="tab-pane active" id="home">		
		#wikipage-region	
		</div>
		<div class="tab-pane" id="profile">
		.row-fluid
			#publisher-region
			hr
			#wall-region		
		</div>
		</div>

