<div class="span12">
	<div class="diff">
		
		<div class="attachment">
				
		<div class="diff-content">
			<pre><%= generate_diff(diff).html() %>	</pre>	
		</div>
				
		<ul class ='control-menu'>
			<i><%= summary %></i>	
			<%  if( summary.length > 0) { %>				
				<%= "--" %>				
			<% } %>
			<li class="comments-summary">
				<i class="icon-thumbs-up" /> 2
				<i class="icon-pencil" /> <%= comments.length %> 	
			</li>
			<li> · <a  class="toggle-diff" >Show difference</a> · </li>
			<li>
				<p><small><%= "("+ moment(created_at).fromNow() +") "%></small></p>											
			</li>
		</ul>			

		
		<div class="comments-thread-area">
		</div>

		</div>	
		

		
		<hr />
		
	</div>
</div>


