<div class="row-fluid">
	<div class="span12">
		<div class="avatar">
			<a href="#">
				<img class="avatar-img" src="<%= $.gravatar(user.email, { size: 50 }) %>" />
			</a>
		</div>
		<div class="mainWrapper">
			<p><a href="/profile/<%= user._id %>" class='email'>
				<%= user.profile.displayName %>
			</a></p>
			<p class ='text'><%= nl2br(text, false) %></p>
			<p><small><%= moment(created_at).fromNow() %></small>
			</p>
			<div class="row-fluid">
				<div class="comments-thread-area">
				</div>
			</div>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
	<hr/>
	</div>
</div>
