extends layout

block content	
	.row
		.span3
			include shared/sidebar
								
		.span7
			.row-fluid
				.span12
					h1.page-header Home
			.row-fluid		
			hr
			#social-stream
	<script id="item-template" type="text/html">
	<tr>
	<td><%= author.name %></td>
	<td><%= content %> <br /><small><%= createdAt %></small></td>
	</tr>
	</script>
	<script id="items-template" type="text/html">
	<table border=1>
	<tbody>
	</tbody>
	</table>
	</script>
	<script id="publisher-template" type="text/html">
	<textarea id='new-post'></textarea><br />
	<input id='publish-button' type='submit' />
	</script>
	<script id="layout-template" type="text/html">
	<h1>My Layout!</h1>
	<h2>Publisher</h2>
	<div id='publisher'></div><h2>Items</h2>
	<div id='items'></div>
	</script>	

				

