.row
	.span3
		#main-sidebar-region
		#material-sidebar-region
		
	.span9
		.well
			h1.page-header 
				= server.data.file.name
			p 
				= server.data.file.description
			p.text-center
				button.btn.btn-large.btn-primary Download

