.row
	.span3
		#main-sidebar-region	
		#new-wikipage-sidebar-region
		
	.span9
		<ul class="breadcrumb">
		<li><a href="#">Home</a> <span class="divider">/</span></li>
		<li><a href="#">Library</a> <span class="divider">/</span></li>
		<li class="active">Data</li>
		</ul>
		<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a href="#page" data-toggle="tab">Page</a></li>
		<li><a href="#wall" data-toggle="tab">Wall</a></li>
		</ul>
		<div class="tab-content">
		<div class="tab-pane active" id="page">		
		#wikipage-region	
		</div>
		<div class="tab-pane" id="wall">
		.row-fluid
			#publisher-region
			hr
			#wall-region		
		</div>
		</div>

