extend ../../../templates/layout

block content
	.row
		.span6.offset3
			form.form-horizontal(action="/signup", method="post")
				.fieldset
					legend Sign up

					.control-group
						label.control-label Your name
						.controls
							input.input-xlarge(type="text", name="displayName")
							p.help-block Please enter your real name		

					.control-group
						label.control-label Email
						.controls
							input.input-xlarge(type="text", name="email")
							p.help-block Your email
							
					.control-group
						label.control-label Password
						.controls
							input.input-xlarge(type="password", name="password")
							p.help-block Password with 8 characters						
							
					.control-group
						label.control-label Password confirmation
						.controls
							input.input-xlarge(type="password", name="passwordconf")
							p.help-block Re-type your password
					
					.form-actions
						button.btn.btn-primary(type="submit") Sign up
						button.btn Cancel

