.well.sidebar-nav
	ul.nav.nav-list
		li.nav-header Basic
		li
			a(href="/") Home
		li
			a(href="#") Close friends			
.well.sidebar-nav
	ul.nav.nav-list
		li.nav-header Groups
		- if (server.data.groups)	{
		- for(var i = 0; i < server.data.groups.length; i++) {
		!= "<li><a href='/groups/" + server.data.groups[i]._id  + "'>"						
		= server.data.groups[i].displayName				
		!= "</a></li>"					
		-}
		-}	
