.row-fluid
	.span12
		if server.currentUser && server.currentUser.role == 'teacher'
			.pull-right	
				a.btn.btn-primary(href='/materials/new') Add a new material	
		h1.page-header Browse Materials
			
.row-fluid
	.span7
		#materials-region
	.span5
		#browse-materials-region
