.row
	.span2(style="height:500px;")
		.row-fluid
			.span2(style="position:fixed; border-right: 2px solid #eee;")
				#main-sidebar-region
				#material-sidebar-region		
				#semesters-sidebar-region
				block sidebars
		
	.span10
		block content

