extend ../../../../templates/layout

block content
	.row
		.span6.offset3
			= server.data.message
				
			form.form-horizontal(action="/login", method="post")
				.fieldset
					legend Log in using your favourite service
					
					.control-group
						label.control-label 				
							a(href='/auth/google') Google
			
				.fieldset
					legend Log in
					
					.control-group
						label.control-label Email
						.controls
							input.input-xlarge(type="text", name="username")
							p.help-block Enter your email
							
					.control-group
						label.control-label Password
						.controls
							input.input-xlarge(type="password", name="password")
							p.help-block Your password	
					
					.form-actions
						button.btn.btn-primary(type="submit") Log in
						button.btn Cancel

